/* Normalize */
body, html {
  height: 100%;
  margin: 5px;
  padding: 0;
  position: relative;
	color: #231F20;
}

/* Header */
h1 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 30px 0px 30px 0px;
}

/* Contact info */
.contact-info p {
  text-align: center;
}

/* Navigation bar */
.nav {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid #CCCCCC;
  border-width: 1px 0;
  list-style: none;
  margin: 15px;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #18938F;
}

.nav a:hover {
  text-decoration: underline;
}

/* Header images */
img {
  display: inline-block;
  margin-left: 8px;
  margin-right: auto;
  height: 270px;
  padding: 5px 0 10px 0;
}

.header-images a{
  text-decoration: none;
}

.header-images a:hover {
  text-decoration: none
}

/* Typography */
h2 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #18938F;
  border: 1px solid #CCCCCC;
  border-width: 0 0 1px 0;
  padding: 0 0 0 50px;
  margin: 0 15px;
}

.italic {
  font-style: italic;
  font-family: Georgia, "Times New Roman", serif;
}

.bold {
  font-weight: bold;
}

p, ol, ul {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  padding: 0 150px 0 150px
}

a {
  color: #18938F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Relevant courses & skills side-by-side */
#relevant-courses {
  float: left;
  width: 50%;
}

#skills {
  overflow: hidden; /* I utilized the overflow: hidden after finding out what it does here: http://stackoverflow.com/questions/132649/what-is-the-difference-between-overflowhidden-and-displaynone */
  width: 50%;
}

/* Footer */
footer {
  border: 1px solid #CCCCCC;
  border-width: 1px 0 0 0;
  margin: 0 15px 35px 15px;
}

footer p {
  padding: 0 135px 0 135px; /* I wanted to keep the text in footer p at the same alignment as the other ps, but the 15px margin that I added to keep the footer border the same length as the others messed with that. */
}

/* Highlighted text */
::selection { /* This shows up as unknown in the CSS validator because it's an unofficial property */
  color: white;
  text-decoration: none;
  background-color: #CFE9E7;
}

/* Back to top button */
.top-button {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  position: fixed;
	bottom: 30px;
	right: 30px;
  color: #231F20;
  background-color: #18938F;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: inherit;
}

/* Print specific styling */
@media only print {
  html, body {
    height: 95%;
  }

  h1 {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }

  .nav, .header-images, footer, .top-button { /* I looked up how to hide certain elements when printing here: http://stackoverflow.com/questions/355313/how-do-i-hide-an-element-when-printing-a-web-page */
    display: none !important;
    height: 0;
  }

  h2 {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #18938F;
    border: 1px solid #CCCCCC;
    border-width: 0 0 1px 0;
    padding: 0 0 0 20px;
    margin: 0 15px;
  }

  p, ol, ul {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    padding: 0 45px 0 45px
  }
}
