/**
  * I had a lot of trouble figuring out whether I should be making my adjustments according
  * to what I saw on the Chrome Developer Tools or my actual manipulated browser window, as
  * they were showing two completely different things. I would make some changes and be
  * looking at the Chrome Dev Tools, but then move my browser window around to find that it
  * doesn't actually look the way I thought, and vise versa. This was especially the case
  * with my navigation bar, my images, and my back to top button.
  */


/* Normalize */
body, html {
  height: 100%;
  margin: 0.5rem;
  padding: 0;and
  position: relative;
  font-size: 0.8rem;
	color: #231F20;
}

/* Header */
h1 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

/* Contact info */
.contact-info p {
  text-align: center;
}

/* Navigation bar */
.nav {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  border: 1px solid #CCCCCC;
  border-width: 1px 0;
  list-style: none;
  margin: 3.5rem;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #18938F;
}

.nav a:hover {
  text-decoration: underline;
}

/* Header images */
.header-images {
  width: 100%;
  height: auto;
  text-align: center;
}

img {
  display: inline-block;
  margin-left: 1rem;
  margin-right: auto;
  height: 30rem;
  padding: 0.5rem 0 1rem 0;
}

.header-images a{
  text-decoration: none;
}

.header-images a:hover {
  text-decoration: none
}

/* Typography */
h2 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  color: #18938F;
  border: 1px solid #CCCCCC;
  border-width: 0 0 1px 0;
  padding: 0 0 0 2.5rem;
  margin: 3.5rem 3.5rem 0 3.5rem;
}

.italic {
  font-style: italic;
  font-family: Georgia, "Times New Roman", serif;
}

.bold {
  font-weight: bold;
}

p, ol, ul {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 6rem 0 6rem;
}

a {
  color: #18938F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  margin:
}

/* Footer */
footer {
  border: 1px solid #CCCCCC;
  border-width: 1px 0 0 0;
  margin: 3.5rem 3.5rem 0 3.5rem;
}

footer p {
  padding: 0 2.5rem 3.5rem 2.5rem;
}

/* Highlighted text */
::selection { /* This shows up as unknown in the CSS validator because it's an unofficial property */
  color: white;
  text-decoration: none;
  background-color: #CFE9E7;
}

/* Back to top button */
.top-button {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
  color: #231F20;
  background-color: #18938F;
  border-radius: 0.4rem;
  padding: 0.7rem 1.1rem 0.7rem 1.1rem;
  margin: inherit;
}


/* Print specific styling */
@media only print {
  html, body {
    height: 95%;
  }

  h1 {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }

  .nav, .header-images, footer, .top-button {
    display: none !important;
    height: 0;
  }

  h2 {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #18938F;
    border: 1px solid #CCCCCC;
    border-width: 0 0 1px 0;
    padding: 0 0 0 20px;
    margin: 0 15px;
  }

  p, ol, ul {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    padding: 0 45px 0 45px
  }
}


/* Tablet specific styling */
@media only screen and (min-width: 768px) {
  h1 {
    margin: 2rem 0 2rem;
  }

  .nav {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p, ol, ul {
    font-size: 1rem;
    padding: 0 10rem 0 10rem;
  }

  footer p {
    padding: 0 7.5rem 7.5rem 7.5rem;
  }

  .contact-info p {
    padding: 0;
  }

  .top-button {
    font-size: 1.2rem;
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  }
}


/* Lapton specific styling */
@media only screen and (min-width: 1024px) {
  .nav {
    font-size: 1.1rem;
    margin: 2.5rem;
  }

  img {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: auto;
    height: 20rem;
    padding: 0.312rem 0 0.625rem 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
  }

  p, ol, ul {
    font-size: 1.1rem;
    padding: 0 10rem 0 10rem;
  }

  .top-button {
    font-size: 1.2rem;
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  }

  /* Relevant courses & skills side-by-side */
  #relevant-courses {
    float: left;
    width: 50%;
  }

  #skills {
    overflow: hidden;
  }

  footer {
    margin: 2.5rem 2.5rem 0 2.5rem;
  }

  footer p {
    padding: 0 7.5rem 2.5rem 7.5rem;
  }
}
