h1 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.nav {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid #CCCCCC;
  border-width: 1px 0;
  list-style: none;
  margin: 20px;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #18938F;
}

.nav a:hover {
  text-decoration: underline;
}

img {
  display: inline-block;
  margin-left: 8px;
  margin-right: auto;
  height: 270px;
}

.header-images a{
  text-decoration: none;
}

.header-images a:hover {
  text-decoration: none
}

h2 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #18938F;
  border: 1px solid #CCCCCC;
  border-width: 0 0 1px 0;
  padding: 3px 0 0 30px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

p, ol, ul {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  padding: 0 60px 0 60px
}

a {
  color: #18938F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  border: 1px solid #CCCCCC;
  border-width: 1px 0 0 0;
}
