/* Normalize */
body, html {
  height: 100%;
  margin: 2rem;
  padding: 0;
  position: relative;
  font-size: 16px;
	color: #d8d8d8;
}

/* Header */
h1 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

/* Navigation bar */
.nav {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  list-style: none;
  margin: 1rem 1rem 3rem 1rem;
  text-align: center;
}

.nav li {
  display: inline;
}

ul{ /* Removed the automatic indent from unordered list */
  padding-left: 0;
  list-style-type: none;
}

.nav a {
  display: inline-block;
  padding: 0 1.5rem;
  text-decoration: none;
  color: #d8d8d8;
}

.nav a:hover {
  text-decoration: none;
  color: #333333;
}

.current a { /* I looked up how to change the color of the current page the user is on by added a "current" class to each of the pages: https://www.w3schools.com/css/css_navbar.asp */
  text-decoration: none;
  color: #949494;
}

/* Typography */
h2 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  padding: 0 1rem;
  margin: 0;
}

p {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  text-align: left;
  padding: 0 1rem;
}

section {
  padding: 0 6rem 0 6rem;
}

a {
  color: #949494;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #137572;
}

/* Form */
form {
  padding: 0 1rem 0 1rem;
  text-align: left;
  color: #333333;
}

input {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

select {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

textarea {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  border-color: #949494;
  border-width: thin;
}

button {
  margin: 0 0 0 1rem;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

/* Footer */
footer {
  text-align: center;
}

footer p {
  display: inline-block;
  margin: 2rem 1rem 1rem 1rem;
  padding: 0 6rem 0 6rem;
  text-align: center;
  color: #d8d8d8;
}

footer a {
  color: #d8d8d8;
  text-decoration: none;
}

/* Back to top button */
.top-button {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
  color: #333333;
  background-color: #d8d8d8;
  border-radius: 1rem;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  margin: inherit;
  text-decoration: none;
}

.top-button:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* Slideshow */
.slideshow { /* I learned how to make a slideshow using only CSS and HTML here: https://www.experts-exchange.com/articles/14861/Build-a-Pure-CSS3-Slideshow-no-javascript-here.html */
  position: relative;
  display: block;
}

.slideshow img {
  position: absolute;
  display: block;
  width: 32%;
  height: auto;
  margin: 0.5rem 0rem 0 24.5rem;
}

@keyframes xfade{
  0%{
    opacity:1;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0;
  }
  94% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.slideshow img:nth-child(5) {
  animation: xfade 53s 0s infinite;
}

.slideshow img:nth-child(4) {
  animation: xfade 53s 10s infinite;
}

.slideshow img:nth-child(3) {
  animation: xfade 53s 20s infinite;
}

.slideshow img:nth-child(2) {
  animation: xfade 53s 30s infinite;
}

.slideshow img:nth-child(1) {
  animation: xfade 53s 40s infinite;
}

/* Gallery */
.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img { /* I looked up how to make a gallery with zoom here: https://codepen.io/oknoblich/pen/ELfzd */
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(2.2,2.2);
  transition: .3s transform;
}
